# Dependencies
/vendor/
node_modules/
composer.lock

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.phpunit.result.cache
.phpunit.cache/
coverage/

# Environment
.env
.env.*

# Logs
npm-debug.log
yarn-error.log
*.log
