# Auto detect text files and perform LF normalization
* text=auto

# Exclude from export (composer install --prefer-dist)
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/tests              export-ignore
/phpunit.xml        export-ignore
/CHANGELOG.md       export-ignore
